:root {
    --primary-color: #2D3250;
    --secondary-color: #424769;
    --accent-color: #F6B17A;
    --background-color: #7077A1;
    --text-color: white;
  }

  @font-face {
    font-family: 'MainFont';
    src: url(~/assets/fonts/MosquichDemo-OVR0P.otf);
  }

  body {
    font-family: 'MainFont';
  }
  